output LR graph.png
output data.xlsx
output_Nitrate-N_curves.png
output_Nitrite-N_curves.png
output_Chloride_concentration_curves.png
output_Fluoride_concentration_curves.png
output_Phosphate_concentration_curves.png
output_Sulfate_concentration_curves.png